<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
</head>
<body>
<div>
    <h3>用户列表</h3>
    <p><a href="{{ url_for('statistic.upload_code') }}">上传代码</a></p>
    <table border="1px">
        <thead>
        <tr>
            <th>用户id</th>
            <th>用户名</th>
            <th>查看上传记录</th>
        </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td><a href="{{ url_for('') }}"></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>