<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>代码上传记录</title>
</head>
<body>
<div>
    <h3>{{ user.username }} 的上传代码记录</h3>
    <table border="2px">
        <thead>
        <tr>
            <th>记录id</th>
            <th>代码行数</th>
            <th>上传日期</th>
        </tr>
        </thead>
        <tbody>
        {% for foo in records %}
            <th>{{ foo.id }}</th>
            <th>{{ foo.codelines }}</th>
            <th>{{ foo.date }}</th>
        {% endfor %}

        </tbody>
    </table>
</div>
</body>
</html>