

{% extends 'index.html' %}

{% block content %}
    <h3>{{ user.username }} 的上传代码记录</h3>
    <table border="2px">
        <thead>
        <tr>
            <th>记录id</th>
            <th>代码行数</th>
            <th>上传日期</th>
        </tr>
        </thead>
        <tbody>
        {% for foo in records %}
            <tr>
                <th>{{ foo.id }}</th>
                <th>{{ foo.codelines }}</th>
                <th>{{ foo.date }}</th>
            </tr>

        {% endfor %}

        </tbody>
    </table>
{% endblock %}